{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main>
    <section class="section1 article-news my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 col-12 m-auto">
                    <div class="row mb-5 ch">
                        <div class="col-md-3 col-6">
                            <div class="text-uppercase py-1 py-md-2 r pl-4">E'lonlar</div>
                        </div>
                       
                    </div>
                    <div class="row top-section">
                        <div class="col-md-11 col-12 m-auto">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="row">
                                        {% for i in elon_list %}
                                        <div class="col-md-4 col-4">
				<a href="{% url 'posts_d' i.slug %}">	
                                            <div class="image pt-3">
                                                
                                                    <img src="{{i.image.url}}" height="300" width="400" class="img- img-s" alt="{{i.title}}">
                                               
                                                <div class="bottom-bottom p-3">
                                                    
                                                        <h6>{{i.title|title|truncatewords:10}}... <div class="text-right"> <i class="pt-5"><br> {{i.date.date}}</i><br></div>
                                                        </h6>
                                                    
                                                </div>
                                            </div> </a>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="row mb-5 pt-3 pl-3">
                                <nav aria-label="Page navigation example"></nav>
                                {% if is_paginated %}
                                <ul class="pagination">
                                  {% if page_obj.has_previous %}
                                    <li  class="page-item"><a class="page-link"  aria-label="Previous" href="?page={{ page_obj.previous_page_number }}" >&laquo;</a></li>
                                  {% else %}
                                    <li  class="page-item disabled" ><span class="page-link">&laquo;</span></li>
                                  {% endif %}
                                  {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                      <li  class="page-item active" ><span  class="page-link" href="#" >{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                      <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"  aria-label="Next" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li  class="page-item disabled" ><span class="page-link">&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                            </div>
                        </div>
                        
                    </div>
                    
                   <br>
                   <br>
                   <br>
                </div>
                
            </div>
            
        </div>
        
    </section>
    
</main>
{% endblock content %}