{% extends 'base.html' %}
{% load static %}
{% load i18n %}

    {% block content %}
    <main>
        <section class="section1 article-news my-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11 col-12 m-auto">
                        <div class="row mb-5 ch">
                            <div class="col-md-3 col-6">
                                <div class="text-uppercase py-1 py-md-2 r pl-4">Yangiliklar</div>
                            </div>
                        
                        </div>
                        {% for i in news_list %}
                        <div class="row mb-5 pb-md-5 ch2">
                            <div class="col-md-4 col-12">
                                <div class="card1">
                                    <div class="img-top">
                                        <img src="{{i.image.url}}"
                                            class="img-fluid img-w"
                                            alt="{{i.title | title}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-12 mt-4 mt-md-0 pt-3">
                                <h3>{{i.title}}</h3>
                                                               </p>

                                <ul class="m-0 p-0 float-left mt-3 mt-md-4 text-muted">
                                    {% comment %} <li class="d-inline-block mr-3 mr-md-5">
                                        <i class="fas fa-folder mr-1"></i> Ijtimoiy
                                    </li>
                                    <li class="d-inline-block mr-3 mr-md-5">
                                        <i class="fas fa-eye mr-1"></i> 22
                                    </li> {% endcomment %}
                                    <li class="d-inline-block mr-3 mr-md-5">
                                        <i class="fas fa-clock mr-1"></i> {{i.date}}
                                    </li>
                                </ul>
                                <a href="{% url 'news_d' i.slug %}" class="btn bg-info1 float-right radius rounded-0">
                                    Batafsil </a>
                            </div>
                        </div>
                        {% endfor%}
                        <div class="row mb-5">
                            <nav aria-label="Page navigation example"></nav>
                            {% if is_paginated %}
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                                <li  class="page-item"><a class="page-link"  aria-label="Previous" href="?page={{ page_obj.previous_page_number }}" >&laquo;</a></li>
                              {% else %}
                                <li  class="page-item disabled" ><span class="page-link">&laquo;</span></li>
                              {% endif %}
                              {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                  <li  class="page-item active" ><span  class="page-link" href="#" >{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                  <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link"  aria-label="Next" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                              {% else %}
                                <li  class="page-item disabled" ><span class="page-link">&raquo;</span></li>
                              {% endif %}
                            </ul>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %} 