{% extends 'base.html' %}
{% load static %}
{% block content %}

{{bosh}}
<main id="rlr-main" class="rlr-main--fixed-top">
    <div class="rlr-section__content--md-top">
      <div class="rlr-section rlr-section__my">
        
        <div class="container">
          <div class="row">
            
            <div class="content col-md-12 col-lg-12 col-xs-12">
              <div class="rlr-data-container woocommerce-MyAccount-content">
                <h1 class="type-h3 rlr-data-table__title">{{bosh.0}}</h1>
                <div class="table">
                  <table class="rlr-data-table woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
                    <thead class="rlr-data-table__header">
                      <tr class="rlr-data-table__header-row">
                        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number">
                          <span class="nobr"> Hujjat nomi </span>
                        </th>
                        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date">
                          <!-- <span class="nobr"> Date </span> -->
                        </th>
                        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status">
                          <!-- <span class="nobr"> Status </span> -->
                        </th>
                        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total">
                          <!-- <span class="nobr"> Total </span> -->
                        </th>
                        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions">
                          <!-- <span class="nobr"> Actions </span> -->
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in fiel_list %}
                      <tr class="rlr-data-table__row woocommerce-orders-table__row woocommerce-orders-table__row--status-on-hold order">
                        <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Order">
                          <a href="./product-detail-page.html"><i class="rlr-icon-font flaticon-overview" style="font-size: 20px;"> </i> {{i.name}} </a>
                        </td>
                        
                        
                        <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                          <a href="./product-detail-page.html" class="rlr-data-table__link woocommerce-button button view"  target="_blank"> <i class="rlr-icon-font flaticon-carbon-result " style="font-size: 20px;"> </i>Ko'rish </a>
                          
                        </td>
                        <td class="rlr-data-table__cell woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                            <a href="./product-detail-page.html" class="rlr-data-table__link woocommerce-button button view" download="/media/{{i.fiel_name}}"> <i class="rlr-icon-font flaticon-carbon-download" style="font-size: 20px;"> </i>Yuklash </a>
                          </td>
                      </tr>
                 {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}